# Node.js
node_modules/
package-lock.json

# Environment variables
.env
.env.*
!.env.example

# MongoDB data
data/

# Docker
docker-volumes/

# IDE
.vscode/

# Logs
*.log

# OS specific
.DS_Store
Thumbs.db